* {

    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

html, body {

    height: 100%;
    background-color: #fafafa;
}

.site_grid {

    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "site_header site_header"
    "site_main site_main"
    ;
}

.site_header {

    position: relative;
    grid-area: site_header;
    border-bottom: 3px solid #D7241C;
    box-shadow: 0px 1px 15px #aaa;
    background-color: #fff;
    line-height: 60px;
}

/*.site_header h1 {

    color: #555;
    font-weight: 400;
    font-size: 40px;
}*/

.site_header_logo {

    margin-left: 20px;
    margin-top: 15px;
    display: inline-block;
}

.site_header_logo img {

    width: 183px;
    height: 45px;
}

.site_header b {

    display: inline-block;
    font-size: 12px;
    color: #555;
}

.site_header_ul {

    position: absolute;
    bottom: 0px;
    right: 0px;
    list-style: none;
}

.site_header_ul li {

    transition: 100ms;
    float: left;
    margin-left: 100px;
    cursor: pointer;
    color: #153378;
}

.site_header_ul li:last-child {

    margin-left: 50px;
}

.site_header_ul li a:hover {

    transition: 100ms;
    color: #D7241C;
}

.site_header_ul li a {

    text-decoration: none;
    color: #153378;
    height: 100%;
    padding: 10px;
}

#search_bttn {

    background: none;
    border: none;
    font-size: 20px;
    color: #555;
    cursor: pointer;
    outline: none;
    border: 1px solid #153378;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#search_bttn:hover {

    transition: 100ms;
}

.site_header_ul_search {

    display: none;
    padding: none;
}

#search_inp {

    margin-right: -90px;
    padding: 0px 10px 7px 10px;
    outline: none;
    width: 0px;
    border: none;
    border-bottom: 1px solid #153378;
    font-size: 20px;
}

#menu_bttn {

    background: none;
    border: none;
    font-size: 30px;
    display: none;
}

/* =SMALL SCREENS= */
@media screen and (max-width: 1840px) {

    .site_header b {

        font-size: 10px;
    }

    .site_header_ul {

        font-size: 14px;
    }
}

@media screen and (max-width: 1680px) {

    .site_header b {

        display: none;
    }

    .site_header_ul {

        font-size: 12px;
    }
}

/* =PHONES= */
@media screen and (max-width: 1270px) {

    .site_header b {

        display: inline-block;
    }

    .site_header_ul_menu_opt {

        display: none;
    }

    #search_bttn {

        display: none;
    }

    #menu_bttn {

        display: inline-block;
    }
}

@media screen and (max-width: 700px) {

    .site_header b {

        display: none;
    }
}

.site_main {

    grid-area: site_main;
    position: relative;
}

